@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Maven+Pro:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-----ROOT-----*/
:root {
    /*ROOT FOR TEXT FONT*/
    --text-font1: 'Maven pro', 'serif';
    --text-font2: 'Open Sans', 'serif';
    --text-font3: 'Lato', 'serif';

    /*ROOT FOR COLOR*/
    --color-green: #0A846E;
    --color-brown: #9E6D52;
    --color-red: #B93857;
}

/*-----WEBSITE-----*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----BODY-----*/
body {
    width: 100vw;
    background-color: #FCF6FC;
}

/*-----WRAPPER-----*/
.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/*-----HEADER SECTION-----*/
/*PAGE HEADER SECTION*/
.page-header {
    width: 100%;
}

/*HEADER CONTAINER*/
.header-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    box-shadow: 0 5px 5px rgba(81, 81, 81, 0.2);
}

/*BIG HEADER BOX WITH IMAGE BACKGROUND*/
.header-box-big {
    display: grid;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    place-items: center;
    background-image: url(https://s3-alpha-sig.figma.com/img/a687/01ff/1c5a9f853de7117ad656ca74d75f0389?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SEBv2dFBgUAOuAnkwGS-mp0FTqgOKIwj7T8PsdOpe3ppKLUV-kXwBqtcA3KwLlR5pyeqavhpazvs3WcbNSyTiDa1QnYipRHUPMUNkCJLLerKOHnmQjutJrIB73YTlQauLIfB4ypT0dF1QXkcityg-lNJ2bV-TAb8f0qy12kKh16hOzbrTOKXPmmYcYY18ZZHdXBDuxGiiIPIx7Du1TS10QFlmCqE2RYfM0UZoTW~XXKXOprCGbdy-wcwmgWTTDJUkSY6PylL3KFEb79C4769712PkyK-5-CgZB8YLSDb8E9Ug83Aol6-wl~uRkbLSyMwqzhBq1ZeHOqIrSC0ue07nA__);
    background-size: cover; 
    background-position: 50%; 
}

.ham-icon {
    display: none;
}

/*IMAGE ICON FOR BIG HEADER BOX*/
.header-box-big img {
    transform: scale(0.9);
}

/*LITEN HEADER BOX WITH BROWN BACKGROUND*/
.header-box-liten {
    display: grid;
    grid-column: auto / span 2;
    place-items: center;
    background-color: var(--color-brown);
}

/*LITTLE HEADER BOX WITH GREEN BACKGROUND*/
.header-box-little {
    display: grid;
    place-items: center;
    background-color: var(--color-green);
    grid-column: auto / span 2;
}

/*IMAGE ICON FOR BIG HEADER BOX*/
.header-box-big img {
    transform: scale(0.9);
}

/*IMAGE ICON FOR LITEN HEADER BOX*/
.header-box-liten img{
    transform: scale(0.7);
}

/*IMAGE ICON FOR LITTLE HEADER BOX*/
.header-box-little img{
    transform: scale(0.7);   
}

/*-----MENU SECTION-----*/
/*NAV SECTION FOR MENU*/
.menu {
    width: 100%;
    height: auto;
    background-color: white;
    display: inline;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 5px rgba(81, 81, 81, 0.2);
}

/*A TAG IN NAV*/
.menu a {
    padding: 1.25rem;
    font-size: 20px;
    text-decoration: none;
    font-family: var(--text-font1);
    color: var(--color-green);
}

/*HOVER FOR A TAG IN NAV*/
.menu a:hover {
    background-color: var(--color-green);
    color: white;
}

/*-----TIP SECTION-----*/
/*TIP BOX SECTION*/
.tip-box {
    padding: 2rem;
}

/*H1 TEXT IN TIP-CONTENT*/
.tip-box h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
    color: var(--color-green);
    font-family: var(--text-font1);
}

/*TIP-CONTENT FOR TEXT AND BUTTON*/
.tip-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

/*BOX FOR IMAGE */
.tip-foto {
    padding: 5rem;
    border-radius: 50%;
    background-color: var(--color-green);
}

/*WHITE IMAGE INSIDE GREEN CIRCLE BOX IN TIP CONTENT*/
.img-1 {
    width: 15rem;
    height: 15rem;
}

/*TEXT CONTAINER FOR TEXT IN TIP CONTENT*/
.tip-text {
    font-family: var(--text-font2);
}

/*H2 TEXT IN TIP-CONTENT*/
.tip-content h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/*P TEXT IN TIP-CONTENT*/
.tip-content p {
    font-size: 1rem;
}

/*-----LINE SECTION WITH A TEXT-----*/
/*SECTION FOR LINE AND TEXT*/
.line-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 3.5rem;
}

/*GREEN LINE*/
hr {
    background-color: var(--color-green);
    height: .2rem;
    width: 33%;
}

/*TEXT EFTER LINE*/
.line-text h2 {
    font-family: var(--text-font3);
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

/*VEGETABLES GALLERY*/
.grid-gallery {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: auto;
}

/*IMAGE IN GALLERY CARD*/
.gallery-img {
    padding: 4rem;
}

/*CUCUMBER CARD*/
.gallery-gurka {
    background-image: url('https://s3-alpha-sig.figma.com/img/5d4a/3326/3a625f934c426be649ef53624f44c6e7?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oByy-9ZwDhH8We~EyFmBDgF9EI7s97sLnpOebb02N1Abh93jJJ1WKaLRlqbTayTU2Bkw06~V5nESk-sQ0Ru-A8o3enOc4W7QK2dWgm6tVaMu2ccMQGnWQdn8vaPxTznAxq3qPbtgC6KyeMVz5L8sqXONWsmsyDEQSa1pN~Vfqj1Zc~tOGFK7KXHJaHCcm11-1BRgD-YMc0li3eqe6CYVMlX5Mw4OGKBGywbGRNehD0NSEyRbyGOqhCs~5RNEbDM~84yfBMRpycDYfuPX8sBGXE464V3nzDw0H9F109xeOWzEYbSJkcpPjHVCGpPl70BgxYXunm91YkdI7nKdPHZdsQ__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BIG TOMATO CARD*/
.gallery-tomat1 {
    background-image: url('https://s3-alpha-sig.figma.com/img/167d/d326/4eac0bc4565979c34826adc7384e3d1f?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ElTaDZVPPA09aNXYSmjkLpm07-pSCBTjxWO49~AFzBSCQWg5Kh8edzrCQ4YLq1vD9D33lyJ1E0Ly5fe-DbktDka6WwfYt9MgRlK6wCJBVsbZxQGugsvNWlZfUY8drMeFgkEswh6eDJ2J74JLmzHProg3svsfAteh4t~pY0rnM40m037Jw1d2T73zOvP5U0zaweD~wzuEiaqu~tWRK79cXmbs-zCIixcj~4ecpqw~MXJa4CfXn1wJXzmwwruNdsOnvqrEVd1esO3roUeAT8sUMLeIa7F1-YR4RZDMVYg8EcYGrz7GG7hdadY73d7M4TWWaURGD0pUvpjq47sTiOJftQ__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SMALL TOMATO CARD*/
.gallery-tomat2 {
    background-image: url('https://s3-alpha-sig.figma.com/img/cac0/76f9/7fe136ecaefa8582b119ea9ffd3acf8f?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=J8Bx34MyBtamYNcSFRyf4ysUEZ5VYRiUlUfGKU2MBvmUNO88en-LyDSjkGaAaWWC1kpAkFfmwimTXIdGuE5v5Fhp2WYl4w5I0RYIWRztZQCoadOqdN1pX81ccwhP11N9MVBEDdlcbYQO52marc8bi7-whRa0g1hu8B9Bp7GrGXM7pivJ7hYEFMzrbvvyec3yIGDZLOeb~gMOljHuFJKQnrbeFpBlAfxMcFBQqzQPIjM~gROzBqI1pQ-Ev1caljLp2UXsExQBxlaR5JE6AITg0sAHUrLNwLlh6HWe1IlwjekYOC8sabu3gO5iLgOuZUKXK0IdBFdWCvNELYBvd51aoQ__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*PEAS CARD*/
.gallery-sockerärtor {
    background-image: url('https://s3-alpha-sig.figma.com/img/504a/53c4/3ec67f7d97de7e84a61cfdf270bff12e?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VY2Zd80ix1l-D6HKU5OYzT9szcVvGdHZDMJ9-ljJW~0W8gQX~8TGWqN~5uLSKoqg2Z~5iUg40jO1n45vXVIF~THIRbOI-gBeJdejtkikzQvsW6Fn89GkY~kHA6i~rzWr~pnAuMNYwUsrhfNSfJmMoFYwcZCcTLH69QIiWMnIYuxWFCFBy~9R8OJs7yiiVzUw4p1~269Swsy14Q2tq3SL1FjYn~RoZdstlDv8UV3duCzEDmnJdyk2UYwe0QMl8ut5I0ltUlrkA7fWeEpMEtv7uA6S~38pmK1MC1re2MH3j4DGP7MB4rDKeQFf~ypAR731bjWnOjEWroAC6I7mYyfm0A__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TURNIP CARD*/
.gallery-majrova {
    background-image: url('https://s3-alpha-sig.figma.com/img/c83d/7219/686d3f610c50f72037f5c969cd271db0?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NAkxVZayB7nViDH5O4AI13Zy9d7IQckxfU68~NzlkDgktvZGlSTxmmAXOlXNSwd9XQUmI-BBw8s69mQ2md-zh330-ond9Nywn3ooECWAviNV6KZaTzLUhXpxDJTHcDV3g8nRcwvndgxY~ZnkvVm3KqP9u2ciKluBtPRKejpwvyQj6Zh2mldJcHIdRJH9yxyfoAV2OUad3RpA0OmuZzFGCpm8gBsRLstpxfJncfXd9LEaYqPIi7Cd-W6gSD5kvJVfnXtQZbRa2sojUTAYxtqWfOqFrrKu-Nrb8b7dt~I2Iixfbl6NmbzghbfPDTY~wsixdFmWxhM-X2Eh87dxdYLhhg__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SQUASH CARD*/
.gallery-squash {
    background-image: url('https://s3-alpha-sig.figma.com/img/4626/76fd/370f6ff6faafd60d5422e17b260735b2?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YzavRDkVVkRSj6zg41ck2Cr3EeaTW-wZ0HmdxUEGYEBw1W9cLbI9XPkREKUErkiqZ12rhxOr17vAtq94tuiHkX5r2K2MnIGhUT0EZ9Nhe5Yy~fak2k3hOaRMwDzWmqTd2nK54bFoVa4-OMU1jne3PGfYiCUEcOom6vq-54bwaKCyh-KQz0Xtr9eoJuOli6Uvg0dLYggiEEwYOGfqDCpRYED89dh6HvAdMA1x5kX639E2QleCENNjapABtmHl3pNbbpyCzu~5PrBGkDn5ohKz4PPE-J9AVUZfs6UCWyxhr7pvJKmANi--BZDkPvowxwf4HlruINCXFXy05pNJY3gYaQ__');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TEXT INSIDE GALLERY CARD*/
.gallery-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: .5rem;
    align-items: center;
    gap: 1.5rem 1rem;
}

/*H3 TEXT IN GALLERY CARD*/
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--text-font3);
    display: flex;
}

/*VEGETABLAS NAME IN GALLERY CARD (IN DESKTOP VERSION THIS WILL NOT SHOW)*/
.mobil-gr {
    display: none;
}

/*NAME TEXT IN GALLERY CARD (IN DESKTOP VERSION THIS WILL NOT SHOW)*/
.mobil-gr-m {
    display: none;
}

/*DATE TEXT IN GALLERY CARD (IN DESKTOP VERSION THIS WILL NOT SHOW)*/
.mobil-gr-d {
    display: none;
}

/*NAME TEXT IN GALLERY CARD*/
.name {
    font-weight: 300;
    font-family: var(--text-font3);
    font-size: 1rem;
    display: flex; 
    justify-self: start;
    padding-left: 0;
}

/*DATE TEXT IN GALLERY CARD*/
.datum {
    font-weight: 700;
    font-family: var(--text-font2);
    font-size: 1rem; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0;
}

/*BUTTON (TA BORT) IN GALLERY*/
.grid-button {
    background-color: var(--color-red);
    font-family: var(--text-font2);
    font-size: 1rem; 
    font-weight: 700;
    color: #fff;
    height: 2rem; 
    width: 6rem;
    border-radius: .5rem;
    border-style: none;
    justify-self: end; 
}

/*GALLERY CARD SECTION*/
.gallery-card {
    box-shadow: 3px 4px 4px #00000040;
}

/*BUTTON (SÅ-TIPS) IN TIP TEXT*/
.button-1 {
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 2rem;
    margin-left: 16.5rem;
    border-radius: .5rem;
    border-style: none;
    font-weight: 600;
    font-size: 1.5rem;
    white-space: nowrap;
    background-color: var(--color-green);
    box-shadow: 0PX 5px 5px rgba(81, 81, 81, 0.2);
}

/*FLEX CONTAINER FOR BUTTON (VISA FLER) IN GALLERY SECTION*/
.flex-button-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*BUTTON (VISA FLER) IN GALLERY SECTION*/
.button-2 {
    font-family: var(--text-font2);
    background-color: var(--color-green);
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    border-radius: .5rem;
    border-style: none;
    box-shadow: 0 5px 5px rgba(81, 81, 81, 0.2);
}

/*TRASH BUTTON IN GALLERY CARD*/
/* Trash icon for mobile version hidden when the screen is in desktop mode */
.grid-trash {
    display: none;
}

/*BUTTON (PLANTERADE PLANTOR) IN GALLERY SECTION*/
.button-3 {
    color: white;
    padding: 1rem 3rem 1rem 3rem;
    margin-top: 2rem;
    border-radius: .5rem;
    border-style: none;
    font-weight: 500;
    font-size: 1.5rem;
    white-space: nowrap;
    box-shadow: 0 5px 5px rgba(81, 81, 81, 0.2);
    background-color: var(--color-green);
}

/*HOVER FOR BUTTON (SÅ-TIPS) IN TIP TEXT*/
.button-1:hover {
    background-color: #0a6b59;
    cursor: pointer;
}

/*HOVER FOR BUTTON (VISA FLER) IN GALLERY SECTION*/
.button-2:hover {
    background-color: #0a6b59;
    cursor: pointer;
}

/*HOVER FOR BUTTON (VISA FLER) IN GALLERY SECTION*/
.button-3:hover {
    background-color: #0a6b59;
    cursor: pointer;
}

/*HOVER FOR BUTTON (TA BORT) IN GALLERY*/
.grid-button:hover { 
    cursor: pointer;
    background-color:#9b2e47;
}

/*-----FOOTER SECTION-----*/
/*FOOTER SECTION*/
.footer {
    width: 100%;
    padding-top: 4rem;
}

/*FOOTER CONTAINER*/
.footer-container {
    background-image: url('https://s3-alpha-sig.figma.com/img/ea38/7e30/cdbc098fba37b01c9b6818e119ecdc05?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BMn~-IT2mlhNn5LtAQYUNfgH9WYwFsL0TfN0CvqdiiDvOYKnJo~nD-lsjd8xJS0u1g62ppDWlm~5yQPtz73Tg4HMV3NV8LWa9nQzZijkES~Bdr71O9Rut0tIecC8~wbMe~jP3onOBeNJxoNV33l1l~l2TJRKVd5X5vv8jhp7t151H4kDZWlggApiRzTJ4I2YRSkqa9GQXSPptP1eLeyBbSDCRLH6IHCLgU1xlQYvVwbXl3qyRVpZcEoeKuypNahDWyi~ezNuv6tYYX1dlnCzHPHFWYfvn2D7bj1pOmaoV0XFjl7VV1sf9YqCGM-6tkYsNuUfAbT7qMztt1tlZgm1kA__');
    background-position: 50%;
    background-size: cover;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

/*LEFT FOOTER CONTAINER*/
.left-footer {
    font-family: var(--text-font1);
    color: #fff;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    background-color: rgba(0, 0, 0, 0.79);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    aspect-ratio: 1 / 1;
}

/*H4 TEXT IN LEFT FOOTER*/
.left-footer h4 {
    color:#fff;
    font-size: 4rem;
    font-weight: 100;
    margin-top: 8rem;
    display: grid;
    place-self: center;
    grid-column: auto / span 2;
    grid-row: auto / span 3;
}

/*PHONE IMAGE IN LEFT FOOTER*/
.phone-img {
    padding-right: 1rem;
}

/*MAIL IMAGE IN LEFT FOOTER*/
.mail-img {
    padding-left: 1rem;
}

/*P TEXT IN FOOTER*/
.footer p {
    display: flex;
    align-items: flex-end;
    font-size: 1.3rem;
    padding: 1rem;
} 

/*EMAIL TEXT IN FOOTER (USE THIS TO CONTRON POSITION)*/
.email-footer {
    justify-content: flex-end;
}

/*RIGHT FOOTER CONTAINER*/
.right-footer {
    background-color: #05564733;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
}

/*LAST FOOTER CONTAINER (BOTTOM OF PAGE)*/
.last-footer {
    font-family: var(--text-font2);
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(81, 81, 81, 0.2);
}

/*-----MEDIA PAGE-----*/
@media (max-width: 600px) {

    .ham-icon {
        display: block;
        width: 2.5rem;
        height: 1.9rem;
        top: 10px;
        right: 10px;

        position: absolute;
    }

    /*HEADER CONTAINER*/
    .header-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        
    }
    /*BIG HEADER BOX WITH IMAGE BACKGROUND*/
    .header-box-big {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
        place-items: center;
        aspect-ratio: 1 / 1; 
        /* position: relative;     */
    }

    /*LITEN HEADER BOX WITH BROWN BACKGROUND - LEFT */
    .header-box-liten {
        grid-column: auto / span 1;
        grid-row: auto / span 1;
        place-items: center;
        aspect-ratio: 1 / 1;
    }


    /*LITTLE HEADER BOX WITH GREEN BACKGROUND - RIGHT */
    .header-box-little {
        grid-column: auto / span 1;
        grid-row: auto / span 1;
        place-items: center;
        aspect-ratio: 1 / 1;
    }

    /* WHITE ICON IMAGE IN BIG, LITEN AND LITTLE BOX*/
    .header-box-big  img, .header-box-liten img, .header-box-little img {
        width: 50%;
        place-items: center;
    }

    /*NAV SECTION FOR MENU*/
    .menu {
        display: none;
    }

    /*TIP-CONTENT FOR TEXT AND BUTTON*/
    .tip-content {
        flex-direction: column-reverse;
        text-align: center; 
    }

    /*TIP BOX SECTION*/
    .tip-box {
        margin-bottom: 3rem;;
    }

    /*H1 TEXT IN TIP-CONTENT*/
    .tip-box h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    /*TEXT EFTER LINE IN LINE SECTION*/
    .line-text h2 {
        font-size: 1rem;
    }

    /*VEGETABLES GALLERY*/
    .grid-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        font-size: 2rem;
        gap: 1rem;
        justify-self: center; 
    }

    /*H3 TEXT IN GALLERY CARD*/
    h3 {
        display: none;
    }
    
    /*DATE TEXT IN GALLERY CARD*/
    .gallery-text .datum {
        display: none;
    }

    /*VEGETABLES NAME IN GALLERY CARD*/
    .gallery-text .name {
        display: none;
    }

    /*VEGETABLAS NAME IN GALLERY CARD*/
    .mobil-gr {
        display: block;
        font-size: .8rem;
        font-family: var(--text-font3);
    }

    /*NAME TEXT IN GALLERY CARD*/
    .mobil-gr-m {
        display: block;
        font-family: var(--text-font3);
        font-size: 0.6rem;
    }

    /*DATE TEXT IN GALLERY CARD*/
    .mobil-gr-d {
        display: block;
        font-family: var(--text-font2);
        font-size: 0.7rem;
        font-weight: 700;
    }

    /*IMAGE IN GALLERY CARD*/
    .gallery-img {
        padding: 1rem;
        max-width:  60%;
        stroke-width: 3;
    }

    /*GALLERY CARD*/
    .gallery-gurka, .gallery-tomat1, .gallery-tomat2, .gallery-sockerärtor, .gallery-majrova, .gallery-squash {
        height: auto; 
        aspect-ratio: 1 / 1; 
        justify-content: center;
    }
    
    /*GALLERY CARD SECTION*/
    .gallery-card {
        width: 100%;
        min-width: 175px;
    }

    /*H3 TEXT IN GALLERY CARD*/
    .gallery-text h3 {
        font-size: 1rem;
    }

    /*NAME TEXT IN GALLERY CARD*/
    .name  {
        font-size: .6rem;
    }

    /*DATE TEXT IN GALLERY CARD*/
    .datum {
        font-size: .6rem;
    }

    /*TEXT INSIDE GALLERY CARD*/
    .gallery-text {
        max-width: 290px;

    }

    /*BUTTON (TA BORT) IN GALLERY*/
    .grid-button {
        display: none;
    }

    /*TRASH BUTTON IN GALLERY CARD*/
    .grid-trash {
        display: block;
        width: .8rem;
        height: 1rem;
        justify-self: end; 
    }

    /*BUTTON (VISA FLER) IN GALLERY SECTION*/
    .button-2 {
        font-size: 1rem;
        padding: .5rem 1.5rem .5rem 1.5rem;
    }

    /*BUTTON (SÅ-TIPS)+(PLANTERADE PLANTOR) IN TIP TEXT*/
    .button-1, .button-3 {
        margin: 2.5rem 0rem 0rem 0rem;
        padding: .5rem 1.5rem .5rem 1.5rem;
        font-size: 1rem;
    }  

    /*H2 TEXT IN TIP-CONTENT*/
    .tip-text h2 {
        font-size: 1rem;
    }

    /*P TEXT IN TIP-CONTENT*/
    .tip-text p {
        font-size: .9rem;
    }
    
    /*WHITE IMAGE INSIDE GREEN CIRCLE BOX IN TIP CONTENT*/
    .tip-foto img {
        padding: 2.8rem;
    }

    /*BOX FOR IMAGE */
    .tip-foto {
        padding: 1rem;
    }

    /*FOOTER CONTAINER*/
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        
        display: flex;
        flex-direction: column-reverse;
    }

    /*RIGHT FOOTER CONTAINER*/
    .right-footer {
        place-items: center;
        background-size: cover;
        width: 100%;
        aspect-ratio: 1;
    }

    /*LEFT FOOTER CONTAINER*/
    .left-footer {
        place-items: center;
        aspect-ratio: 1 / 1;
    }

    /*H4 TEXT IN LEFT FOOTER*/
    .left-footer h4 {
        font-size: 2rem;
        margin-top: 4rem;
        font-size: 2.5rem;
        text-align: center;
    }

    /*MAIL IMAGE IN LEFT FOOTER*/
    .left-footer > .email-footer {
        font-size: .8rem;
    }

    /*PHONE IMAGE IN LEFT FOOTER*/
    .left-footer > .phone-footer {
        font-size: .8rem;
    }

    /*P TEXT IN LAST FOOTER*/
    .last-footer p {
        font-size: .8rem;
    }
}


/*-----SEMATIC PAGE HEADER+MAIN+FOOTER-----*/
/*-----SEMA HEADER-----*/
/*SEMA HEADER BOX WITH IMAGE BACKGROUND*/
.header-box-big-s {
    background-image: url('https://s3-alpha-sig.figma.com/img/ea38/7e30/cdbc098fba37b01c9b6818e119ecdc05?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BMn~-IT2mlhNn5LtAQYUNfgH9WYwFsL0TfN0CvqdiiDvOYKnJo~nD-lsjd8xJS0u1g62ppDWlm~5yQPtz73Tg4HMV3NV8LWa9nQzZijkES~Bdr71O9Rut0tIecC8~wbMe~jP3onOBeNJxoNV33l1l~l2TJRKVd5X5vv8jhp7t151H4kDZWlggApiRzTJ4I2YRSkqa9GQXSPptP1eLeyBbSDCRLH6IHCLgU1xlQYvVwbXl3qyRVpZcEoeKuypNahDWyi~ezNuv6tYYX1dlnCzHPHFWYfvn2D7bj1pOmaoV0XFjl7VV1sf9YqCGM-6tkYsNuUfAbT7qMztt1tlZgm1kA__');
    background-size: cover;
    background-position: 50%;
    background-color: #00000033;

    padding: 2rem;

    display: grid;
    grid-column: auto / span 4;
    grid-row: auto / span 2;
    place-items: center;
}

.ham-icon-sm {
    display: none;
}

/*IMAGE ICON FOR SEMA HEADER BOX*/
.header-box-big-s .img {
    max-width: 100%;
}

/*H1 TEXT FOR SEMA HEADER BOX*/
.header-box-big-s h1 {
    font-family: var(--text-font1);
    font-size: 2.5rem;
    color: #fff;
    margin: 2rem;
}

/*-----SEMATIC MAIN-----*/
/*SEMA MAIN CONTAINER*/
.sema-main-container {
    padding: 2rem;
}

/*INFO SECTION */
.add-info {
    font-family: var(--text-font2);
    font-weight: 400;

    width: 100%;
}

/*TEXT IN INFO SECTION (ADD-INFO)*/
.add-info p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

/*LABEL IN INFO SECTION (ADD-INFO)*/
.add-info label{
    font-size: 1.25rem;
}

/*INPUT IN INFO SECTION (ADD-INFO)*/
.add-info input{
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 #00000040;

    width: 100%;
    
    padding: 1rem;
}

/*FORM SECTION IN INFO SECTION(GRID)*/
.add-info .add-form {
    margin-bottom: 4rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: .25rem 2rem;

    grid-template-areas: 
    "plant-1 date-1"
    "plant-2 date-2"
    "button button";
}

/*LABEL PLANT IN INFO SECTION*/
.plant-1 {
    grid-area: plant-1;
}

/*INPUT PLANT IN INFO SECTION*/
.plant-2 {
    grid-area: plant-2;
}

/*LABEL DATE IN INFO SECTION*/
.date-1 {
    grid-area: date-1;
}

/*INPUT DATE IN INFO SECTION*/
.date-2 {
    grid-area: date-2;
}

/*BUTTON (LÄGG TILL) IN INFO SECTION*/
.add-info .button-sm {
    background-color: var(--color-green);
    color: white;
    box-shadow: 0 4px 4px 0 #00000040;

    /*    width: 24%;*/
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border-style: none;
    font-weight: 600;
    font-size: 1.5rem;

    grid-area: button;   
}

/*HOVER FOR BUTTON (LÄGG TILL) IN INFO SECTION*/
.button-sm:hover {
    background-color: #0a6b59;
    cursor: pointer;
}

/*-----SEMATIC GALLERY SECTION-----*/
/*H2 TEXT IN GALLERY SECTION*/
.all-plant h2 {
    margin-top: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: var(--text-font3);
    font-size: 2rem;
    font-weight: 600;
}

/*GRID FOR GALLERY SECTION*/
.all-plant .grid-gallery-sm {   
    margin-bottom: 4rem;

    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

/*-----SEMATIC FOOTER SECTION-----*/
/*SEMA FOOTER CONTAINER*/
.sm-footer .sm-footer-container {
    background-color: var(--color-brown);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 2rem;
}

/*CONTAINER FOR IMAGE IN SEMA FOOTER CONTAINER*/
.sm-footer .sm-footer-container article {
    background-position: 50%;
    background-size: cover;
    aspect-ratio: 4 / 5;
}

/*IMAGE (PICK VEGETABLES) IN SEMA FOOTER CONTAINER*/
.sm-footer-img-1 {
    background-image: url('https://s3-alpha-sig.figma.com/img/5cf3/a05d/8aae1b85a0b3a5a8caa12c31e4b5e417?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QELC43UpFH~rLDPOU5CISQ--R~BrYrDDJLxT5nT8hpdvrFwqFPEA9WakdoIakWGaPPKHBE25QkxLgAMlqUU5HHuw4hs555X2CG3RUjqIYeMKsWUfiiovyPTkEujML~a3eGJ~9YtwsIi8waueKzwmLChmR2PX~ba5dy8Na9iSG~jbsQ05JlVD~6EpqPmxsNLYkYXFCfgW-YuHLxwYH4d38IJf6Va~0n4k3aoziAyoTjPLvJ2OudYk~eBR1ebcxYI5D6vfLMCB~9PFNV-R0doDfkkxAINdbrxm58eoibcnmLgK1X0U8Lici4MhefMZ3cCB-G~2EL7md7oJaXcsWSOAUw__');
}

/*IMAGE (WATERING) IN SEMA FOOTER CONTAINER*/
.sm-footer-img-2 {
    background-image: url('https://s3-alpha-sig.figma.com/img/9c89/6dec/e9304f9d1a254dcbd5190f2a7a82dddb?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I~-zixOYP-RlZa9xqIYH8Apu0iyHZ4Hp3KFKh00oVqkpd9qCzBusaQ3~dVPkGv05bD6H-MR7KzIxIc7O5cdKtXVPkmgv5JTGvsHGkR0vA2zFBgYw-Gtd9iy5tFG5pZ~GLaTfkqkWIz96aN3TUaz0NptAMazXO5iUCrTie7TgzxQRmU3Ajjat8sGKG1ZYRDNV5Wiid3Pc3WbdCDzPoMzLNGt~OlwJixsUGi1mIKdZ-WERNy4ARktTTlknwYajmgQY8d3Q0U9oEDRiP-DpmywqUxtbNFnULLdCNcG9w5qf-wMtomWGk8onHvQXSp8jClIuyTud~Odfp7gTid5OFRPTqw__');
}

/*IMAGE (VETABLES MIX) IN SEMA FOOTER CONTAINER*/
.sm-footer-img-3 {
    background-image: url('https://s3-alpha-sig.figma.com/img/1c30/4c45/4c8bb563f38c73a410401e869d7491e4?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CJCPpw1U0lAdnIsPq7bX6fsDRXU35-mMs8kB08SzQi-JJqzm4OsqpH8u~u3Gh~4XbJUEiYsv7cW~SAi41n1a9zcxD85cxrghxzrGAS2y1ypWJSihYaWSsk0ZTQBPDmnYru1RVb9ZC3CcneWLOYRua0vOVOxwpf50ZV-PGXBhP-BsyHN-H~VsxmTxmbr0KONsEOJ7ol3H-Pqgrmf70CW0EJoxBqVPVo0fB8QC257p~D8xkU-W6qCXKXoQn0HiG4eEfOTOniNQSvapmCd8hBmvHJJ46PwXAoyoS3tzSes5n~~pNNjfHn4OWdN5Rc7NX9XVP83wHB0TK0Bsbn9XHqWDTA__');
}

/*IMAGE (WOMAN) IN SEMA FOOTER CONTAINER*/
.sm-footer-img-4 {
    background-image: url('https://s3-alpha-sig.figma.com/img/05eb/62d1/103ffdf6673c1ce32da7b311e04da5d7?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KRtqbuwYes2OOGnbgRlaLUxepHpRGYgKtlh2ire6NTp-9KLEUbyPE4x7FSVLl0RgAUYhETPAoa7WoMaISW7kkufnOFYbzbZuCp9Ze-mgFvwJxGxD1UnqKlt-tgqAY-HYgDDyq64FzhNaCMr2sjtZxXCokYQCD10YcfRzJIQ-fH~QYe8WMiOM4vZ4glnOT6eqMC7Gj2bTcStOtf2SdFwoKZPY9jDez5cWfwVNzVbICwAn-1WjYzvNAv~NW8NcfXcgzWPX5dYMqfcKLaC-0FTrka62WyMsl-JWmzzmA5zcaFrwi2S0aid-lNbIRh17-teG97OFX42hfkgrYWTa2tT1wg__');
}

/*SHADOW FOR IMAGE IN SEMA FOOTER CONTAINER*/
.sm-footer .sm-footer-container figure {
    aspect-ratio: 4 / 5;
    background-color: #9E6D5240;
}

/*SEMA LAST FOOTER SECTION*/
.sm-footer .last-footer {
    padding: 1rem;
}

@media (max-width: 600px) {
    /*SEMA HAMBURGER ICON*/
    .ham-icon-sm {
        display: block;
        width: 2.5rem;
        height: 1.9rem;
        top: 10px;
        right: 10px;

        position: absolute;
    }

    /*SEMA HEADER CONTAINER*/
    .sm-header-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        width: 100vw;
        aspect-ratio: 1 / 1;
    }

    /*SEMA HEADER BOX WITH IMAGE BACKGROUND*/
    .header-box-big-s {
        background-position: 20%;
        background-size: cover;
    }

    /*IMAGE ICON FOR SEMA HEADER BOX*/
    .header-box-big-s .img {
        transform: scale(.5);
    }

    /*H1 TEXT FOR SEMA HEADER BOX*/
    .header-box-big-s h1 {
        font-size: 2rem;
        transform: translateY(-2rem);
    }

    /*SEMA MAIN CONTAINER*/
    .sema-main-container {
        padding: 1rem;
    }

    /*FORM SECTION IN INFO SECTION(FLEX)*/
    .add-info .add-form {
       display: flex;
       flex-direction: column;
       align-items: center; 
    }

    /*TEXT IN INFO SECTION (ADD-INFO)*/
    .add-info p {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    /*LABEL IN INFO SECTION (ADD-INFO)*/
    .add-info label {
        font-size: .75rem;
        align-self: flex-start;
    }

    /*BUTTON (LÄGG TILL) IN INFO SECTION*/
    .add-info .button-sm {
        margin: 0;
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: 700;
        padding: .5rem 1.5rem;
        text-align: center;
    }

    /*H2 TEXT IN GALLERY SECTION*/
    .all-plant h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
        text-align: center;
        font-family: var(--text-font3);
        font-size: 1rem;
        font-weight: 600;
    }

    /*GRID FOR GALLERY SECTION*/
    .all-plant .grid-gallery-sm {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1rem;
        justify-self: center; 

    }

    /*WHITE ICON IMAGE FOR GALLERY (IN FIGMA DIDN'T SHOW THIS ICON)*/
    .all-plant .grid-gallery-sm .gallery-gurka img{
        display: none;
    }

    /*SEMA FOOTER CONTAINER*/
    .sm-footer .sm-footer-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: .7rem 1rem;
        padding: 1rem;
    }

    /*CONTAINER FOR IMAGE IN SEMA FOOTER CONTAINER*/
    .sm-footer .sm-footer-container article {
        aspect-ratio: 5 / 3;
    }

    /*SHADOW FOR IMAGE IN SEMA FOOTER CONTAINER*/
    .sm-footer .sm-footer-container figure {
        aspect-ratio: 5 / 3;
        background-color: #9E6D5240;
    }
}