@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Maven+Pro:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Laila:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text-font1: 'Maven pro', 'serif';
    --text-font2: 'Open Sans', 'serif';
    --text-font3: 'Lato', 'serif';

    --color-green: #0A846E;
    --color-brown: #9E6D52;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: #FCF6FC;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}


/*HEADER SECTION*/
.page-header {
    display: flex;
    flex-direction: row;

    width: 100%;

    .header-container {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 270px);

        

        .header-box-big {
            background-image: url(https://s3-alpha-sig.figma.com/img/a687/01ff/1c5a9f853de7117ad656ca74d75f0389?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SEBv2dFBgUAOuAnkwGS-mp0FTqgOKIwj7T8PsdOpe3ppKLUV-kXwBqtcA3KwLlR5pyeqavhpazvs3WcbNSyTiDa1QnYipRHUPMUNkCJLLerKOHnmQjutJrIB73YTlQauLIfB4ypT0dF1QXkcityg-lNJ2bV-TAb8f0qy12kKh16hOzbrTOKXPmmYcYY18ZZHdXBDuxGiiIPIx7Du1TS10QFlmCqE2RYfM0UZoTW~XXKXOprCGbdy-wcwmgWTTDJUkSY6PylL3KFEb79C4769712PkyK-5-CgZB8YLSDb8E9Ug83Aol6-wl~uRkbLSyMwqzhBq1ZeHOqIrSC0ue07nA__);
            background-size: cover;
            background-position: 50%;
            grid-column: auto / span 2;
            grid-row: auto / span 2; 
            
            display: grid;
            place-items: center;
            
            img {
                transform: scale(0.9);
            }

        }
    
        .header-box-liten {
            background-color: var(--color-brown);
            grid-column: auto / span 2;

            display: grid;
            place-items: center;

            img {
                transform: scale(0.7);
            }
        }
    
        .header-box-little {
            background-color: var(--color-green);            
            grid-column: auto / span 2;

            display: grid;
            place-items: center;

            img {
                transform: scale(0.7);
            }
        }

    }
    
}

/*MENU SECTION*/
.menu {
    width: 100%;
    height: 60px;
    /* La innholdet bestemme storlek på nav-meny, 
    till exempel paddings på list-elements. 
    Responsivitet = rem/em/% istället för px */
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    /* z-index: 1; */
       
    a {
        text-decoration: none;
        font-family: var(--text-font1);
        color: var(--color-green);
        font-size: 20px;
    }
}

/*TIP SECTION*/
.tip-box {
    background-color: white;
    padding: 3rem;

    h1 {
        color: var(--color-green);
        font-family: var(--text-font1);
        font-size: 48px;
        margin-bottom: 3rem;
        text-align: center;
    }

    .tip-foto {
        background-color: var(--color-green);
        padding: 5rem;
        border-radius: 50%;
    }

    .img-1 {
        width: 15rem;
    }

    .tip-content {
        background-image: url('./assets/seedpackage.svg');
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
    }

    .tip-text {
        font-family: var(--text-font2);

        h2 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .button-1 {
        
    
        color: white;
        padding: 1rem 3rem 1rem 3rem;
        border-radius: .3rem;
        border-style: none;
        margin-left: 18rem;
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1rem;
        white-space: nowrap;

        /*  Responsivitet = rem/em/% istället för px,
        eventuelt padding som gjør button større */

        background-color: var(--color-green);
    }
}

/*LINE*/
.line-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 3.5rem;

    hr {
        background-color: var(--color-green);
        height: .2rem;
        width: 33%;
        border: none;
        
    
    }

    h2 {
        font-family: var(--text-font3);
        font-size: 2rem;
    }
}

